.commentBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 740px;
    height: 40px;
    background-color: #F1F4F8;
    color: rgba(18, 21, 29, 0.6);
    border-radius: 100px;
    padding: 0px 5px; 
}
.comment {
    color: rgba(18, 21, 29, 0.6);
    background-color: #F1F4F8;
    cursor: text;
    border: transparent;
}
.plus {
    color: rgba(18, 21, 29, 0.6);
    background-color: #F1F4F8;
    margin-left: 565px;
    cursor: pointer;
    border: transparent;
padding-top: 10px;
}
.inputComment {
    position: absolute;
    background-color: transparent;
    border: transparent;
    color: rgba(18, 21, 29, 0.6);
    border-radius: 100px;
    padding: 0px 5px;
    width: 740px;
    height: 40px;
    cursor: text;
}